@mixin mq($break) {  
    $value: map-get($breakpoints, $break);
    $sm: map-get($breakpoints, 'sm');            
    
    @if $value == null {
      @error "`#{$break}` is not a valid breakpoint name.";          
    }          
                 
    @else {
      @media (min-width: $value) {
        @content;       
      }             
    }  
}