// Font variables
$font-url--google        : 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
$font-family--primary    : 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary  : 'Helvetica Neue', Helvetica, Arial, sans-serif;
// colour variables
$colourPrimary:#52658f; //blue ish
$colourSecondary:#f7f5e6; //beige
$colourButton:#f7882f; //orange
$colourAccent:#333a56; //navy

//breakpoints

$breakpoints: (
    's': 768px,
    'm': 992px,
    'l': 1260px, 
);


