// product carousel
.our-products {
    background-color: $colourSecondary;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;

    .product-carousel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 10%;
        align-items: center;

        .slick-prev, .slick-next {
            background-color: #5B6B8C;
            border-radius: 50%;
            border: 1px solid transparent;
            width: 40px; 
            height: 40px; 
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white; 
            font-size: 20px; 
            z-index: 1; 
            overflow: hidden; 
            text-indent: -9999px; 
            position: relative; 

            &:hover {
                background-color: darken($color: #5B6B8C, $amount: 10); 
            }
            &::before {
                content: ''; 
                font-family: 'FontAwesome'; 
                font-size: 20px; 
                text-indent: 0; 
                position: absolute; 
            }
        }

        .slick-prev {
            left: -50px; 
        }

        .slick-next {
            right: -50px; 
        }

        .slick-prev::before {
            content: '\f104'; 
        }

        .slick-next::before {
            content: '\f105'; 
        }

        img {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            border: 4px solid $colourPrimary;
            align-items: center;
            text-align: center;
            margin: 0 auto;
            &:hover {
                border: 4px solid darken($color: $colourPrimary, $amount: 10);
            }
        }
    }

    .find-more-btn {
        button {
            border-radius: 25px;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 700;
            padding: 12px 30px;
            background-color: #5B6B8C;
            color: white;  
            border: none;
            cursor: pointer;
            letter-spacing: 2px;

            &:hover {
                background-color: darken($color: $colourPrimary, $amount: 10);
            }
        }
    }
}