///  NAV
/////////////////////////////////////////////////////

.main-nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: $colourPrimary;
    .nav-content {
        width: 100%;
        // max-width: 1260px;
        display: flex;
        flex-direction: column;
    }
    a{
        text-decoration: none;
        color: $colourSecondary;
    }
}


h1{
    font-size: 3rem;
}


.nav-links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none; // removes bullet points on li's
    li{
        text-align: center;
        padding: 0 10px 0 10px;
        margin-top: 10px;
        &:hover{
            text-decoration: underline;
            text-decoration-color: $colourButton;
            text-decoration-thickness: 2px;
            text-underline-offset: 5px;   
        }
    }
    .phone-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $colourAccent;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        i{
            color: $colourButton;
            font-size: 1.8rem;
        }
    }
}

///  BANNER 
/////////////////////////////////////////////////////

.banner{
    display: flex;
    position: relative;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 500px;
    background-image: url('../../images/bread.jpg');
    background-size: 70% 100%;
    background-position: right center;
}
.banner-circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 120%;
    border-radius: 50%;
    border: 5px solid $colourAccent;
    background-color: $colourSecondary;
    margin-left: -20%;

    .banner-content{
        max-width: 200px;
        color: $colourAccent;
        margin-left: 30%;
        h2{
            font-size: 2rem;
            margin: 15px 0;
        }
         p{
            font-size: .8rem;
            font-weight: bold;
            margin: 15px 0;
         }
        .main-button{
            @include main-button;
            margin: 15px 0;
        }
    }
}


@media(min-width: 768px){

    ///  NAV
    /////////////////////////////////////////////////////

    // changing the flex to row and aligning items to match the example page
    .main-nav{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .nav-content {
            flex-direction: row;
        }
    }
    h1 {
        font-size: 2rem;
        flex: 2;  // h1 is set to take up double the space of an li
        margin: 0;
        text-align: center;
    }
    .nav-links {
        flex: 4;  // takes up 5 spaces (one for each li)
        flex-direction: row;
        margin: 0;
        align-items: center;
        li {
            flex: 1;  // Each li takes up equal space
            margin: 0;
        }
    }

    ///  BANNER 
    /////////////////////////////////////////////////////
    
    .banner-circle {
        // makes the circle slightly taller so it stays round as the viewport expands
        height: 140%;

        // removing the max width so the h2 etc can be bigger, was needed to keep the text in the circle in smaller viewports
        .banner-content {
            max-width: none;
            // reducing the margin left so the content in the circle is inline with the content on the rest of the page
            margin-left: 15%;
            h2{
                font-size: 3rem;
                margin: 20px 0;
            }
             p{
                font-size: 1rem;
                margin: 20px 0;
             }
            .main-button{

                margin: 20px 0;
            }
        }
    }
}


@media(min-width: 992px){

    ///  NAV
    /////////////////////////////////////////////////////
    
    h1{
        font-size: 2.8rem;
    }

    .nav-links{
        li{
            padding: 0 20px 0 10px;
        }
    }

    ///  BANNER 
    /////////////////////////////////////////////////////
    
    .banner-circle {
        // makes the circle slightly taller so it stays round as the viewport expands
        height: 160%;

        // removing the max width so the h2 etc can be bigger, was needed to keep the text in the circle in smaller viewports
        .banner-content {
            max-width: none;
            margin-left: 0;
            h2{
                font-size: 3rem;
                margin: 20px 0;
            }
             p{
                font-size: 1rem;
                margin: 20px 0;
             }
            .main-button{

                margin: 20px 0;
            }
        }
    }
}

@media(min-width: 1260px){

    h1{
        font-size: 3.5rem;
    }

    ///  BANNER 
    /////////////////////////////////////////////////////
    
    .banner-circle {
        // makes the circle slightly taller so it stays round as the viewport expands
        height: 250%;

        // removing the max width so the h2 etc can be bigger, was needed to keep the text in the circle in smaller viewports
        .banner-content {
            max-width: none;
            margin-left: 0;
            h2{
                font-size: 4.5rem;
                margin: 20px 0;
            }
             p{
                font-size: 1rem;
                margin: 20px 0;
             }
            .main-button{

                margin: 20px 0;
            }
        }
    }
}