///  NAV
/////////////////////////////////////////////////////

.main-nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: $colourPrimary;
    .nav-content {
        width: 100%;
        max-width: 1260px;
        display: flex;
        flex-direction: column;
    }
    a{
        text-decoration: none;
        color: $colourSecondary;
    }
}


h1{
    font-size: 3rem;
}


.nav-links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none; // removes bullet points on li's
    li{
        text-align: center;
        padding: 0 10px 0 10px;
        margin-top: 10px;
        &:hover{
            text-decoration: underline;
            text-decoration-color: $colourButton;
            text-decoration-thickness: 2px;
            text-underline-offset: 5px;   
        }
    }
    .phone-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $colourAccent;
        border-radius: 50%;
        width: 55px;
        height: 55px;
        i{
            color: $colourButton;
            font-size: 1.8rem;
        }
    }
}

///  BANNER 
/////////////////////////////////////////////////////

.banner{
    position: relative;
    width: 100%;
    height: 500px;
    background-image: url('../../images/bread.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.banner-circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 120%;
    border-radius: 50%;
    background-color: red;
    margin-left: -20%;

    .banner-content{
        margin-left: 30%;
    }
}

// .banner-circle{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
//     width: 80%;
//     height: 180%;
//     border-radius: 50%;
//     background-color: red;
//     margin-left: -20%;

//     .banner-content{
//         // margin-right: 20%;
//     }
// }

@media(min-width: 768px){

    ///  NAV
    /////////////////////////////////////////////////////

    // changing the flex to row and aligning items to match the example page
    .main-nav{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .nav-content {
            flex-direction: row;
        }
    }
    h1 {
        font-size: 2rem;
        flex: 2;  // h1 is set to take up double the space of an li
        margin: 0;
        text-align: center;
    }
    .nav-links {
        flex: 4;  // takes up 5 spaces (one for each li)
        flex-direction: row;
        margin: 0;
        align-items: center;
        li {
            flex: 1;  // Each li takes up equal space
            margin: 0;
        }
    }

    ///  BANNER 
    /////////////////////////////////////////////////////
}

// adds a bit more right margin when theres enough width to make it look better
@media(min-width: 800px){

    ///  NAV
    /////////////////////////////////////////////////////

    .header-logo{
        margin: 0 30px 0 0;
    }

    ///  BANNER 
    /////////////////////////////////////////////////////   
}

@media(min-width: 992px){

    ///  NAV
    /////////////////////////////////////////////////////
    
    h1{
        font-size: 2.8rem;
    }

    .nav-links{
        li{
            padding: 0 20px 0 10px;
        }
    }

    ///  BANNER 
    /////////////////////////////////////////////////////
}

@media(min-width: 1260px){

    h1{
        font-size: 3.5rem;
    }

    ///  BANNER 
    /////////////////////////////////////////////////////
}