header{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: $colourPrimary;
}

.main-nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin: 20px;
    a{
        text-decoration: none;
        color: $colourSecondary;
    }
}

.header-logo{
    font-size: 1.7rem;
}


.nav-links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none; // removes bullet points on li's
    li{
        flex: 1;  // Makes each li take up equal space
        text-align: center;
        padding: 0 10px 0 10px;
        margin-top: 10px;
    }
}

@media(min-width: 768px){
    // changing the flex to row and aligning items to match the example page
    .main-nav{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    h1 {
        flex: 2;  // h1 is set to take up double the space of an li
        margin: 0;
        text-align: center;
    }
    .nav-links {
        flex: 5;  // takes up 5 spaces (one for each li)
        display: flex;
        margin: 0;
        li {
            flex: 1;  // Each li takes up equal space
            margin: 0;
        }
    }
}

// adds a bit more right margin when theres enough width to make it look better
@media(min-width: 800px){
    .header-logo{
        margin: 0 30px 0 0;
    }
}

@media(min-width: 992px){
    .nav-links{
        li{
            padding: 0 20px 0 10px;
        }
    }
}

@media(min-width: 1260px){
    
}