// ==========================================================================
// Order Now Form Styles
// ==========================================================================
.form-paragraph-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $colourAccent;
}

.form-list-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px;
    background-color: #fff;
    padding-left: 10%;
    padding-right: 10%;
}

.forms-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        background-color: #fff;
        width: 100%;
        div {
            padding: 8px;
        }
}
.form-top {
    width: 100%;
}
.form-bottom {
    width: 100%;
}
.form-contact {
    width: 50%;
}

.form {
    padding: 5px;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, .075);
    border: 1px solid $colourAccent;
    background-color: $colourSecondary;
}
input:focus { 
    outline: 3px solid $colourPrimary;
    border: 1px solid $colourPrimary;
    box-shadow: 0 0 10px $colourPrimary;
}
textarea:focus { 
    outline: 3px solid $colourPrimary;
    border: 1px solid $colourPrimary;
    box-shadow: 0 0 10px $colourPrimary;
}

.form-end {
    height: 100px
}

.form-btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
.btn-submit {
    background-color: #f7882f;
    color: #ffffff;
    border-radius: 35px;
    font-size: 1.5rem;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    width: 250px;
}

// Form Alerts styling 
.form-control.has-error {
    border-color: #d64541;
}

// .alert-danger-hidden {
//     //display:none;
// }

.alert-danger-active {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    border-radius: 2px;
    display:block;
}

.alert-success {
    color: #155724;
    background-color: #d6f1d8;
    border-color: #d6f1d8;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    border-radius: 2px;
    display:block;
}

// Hover Effect
.btn-submit:hover {
    cursor: pointer;
    background-color: darken($colourButton, 10%);
}

// Media Queries
.form-section-container {
    @media (min-width: 768px) {
        padding-right: 10px;
    }
    @media (min-width: 992px) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.form-list-container {
    @media (min-width: 992px) {

    }
}

.form-end {
    @media (min-width: 1200px) {
        height: 200px;
    }
}