// ==========================================================================
// Review Styles
// ==========================================================================
.review-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom:100px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    h3 {
        color: $colourPrimary;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
}

.review-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
}

.review{
    display: flex;
    flex-direction: column;
    h4 {
        display: flex;
        position: relative;
        color: $colourPrimary;
        justify-content: right;
    }
}

.order-review-btn {
    background-color: #f7882f;
    color: #ffffff;
    border-radius: 35px;
    font-size: 1.5rem;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    width: 250px;
    text-align: center;
    text-decoration: none;
}

i.fa-solid.fa-quote-left {
    display: none;
    color: #333956;
    align-self: center;
    font-size: 2.5rem;
    padding-right: 20px;
}

i.fa-solid.fa-quote-right {
    display: none;
    color: #333956;
    align-self: center;
    font-size: 2.5rem;
    padding-left: 20px;
}

.slides {
    width: 100%;
    max-width: 700px;
}

.slick-dots {
    display: flex;
    justify-content: center;
    bottom: 30px !important;
    button::before {
        color: hsla(0,0%,100%,.5) !important;
        font-size: 11px !important;
        margin: 0 10px !important;
        width: 16px !important;
        height: 16px !important;
        opacity: 1 !important;
    }
}

//hover effects

.order-review-btn:hover {
    cursor: pointer;
    background-color: #da7727;
}

/// MEDIA QUERIES
//////////////////////////////////////////////

@media(min-width: 1200px){
    i.fa-solid.fa-quote-left,
    i.fa-solid.fa-quote-right {
        display: block;
    }
}