// ==========================================================================
// Review Styles
// ==========================================================================
.review-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom:100px;
    h3 {
        color: $colourPrimary;
        font-size: 1.2rem;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
    }
}