.main-nav {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  padding: 20px;
  background-color: #52658f;
}
.main-nav .nav-content {
  width: 100%;
  max-width: 1260px;
  display: flex;
  flex-direction: column;
}
.main-nav a {
  text-decoration: none;
  color: #f7f5e6;
}

h1 {
  font-size: 3rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}
.nav-links li {
  text-align: center;
  padding: 0 10px 0 10px;
  margin-top: 10px;
}
.nav-links li:hover {
  text-decoration: underline;
  text-decoration-color: #f7882f;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
.nav-links .phone-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333a56;
  border-radius: 50%;
  width: 55px;
  height: 55px;
}
.nav-links .phone-icon i {
  color: #f7882f;
  font-size: 1.8rem;
}

.banner {
  position: relative;
  width: 100%;
  height: 500px;
  background-image: url("../../images/bread.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.banner-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 120%;
  border-radius: 50%;
  background-color: red;
  margin-left: -20%;
}
.banner-circle .banner-content {
  margin-left: 30%;
}

@media (min-width: 768px) {
  .main-nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .main-nav .nav-content {
    flex-direction: row;
  }
  h1 {
    font-size: 2rem;
    flex: 2;
    margin: 0;
    text-align: center;
  }
  .nav-links {
    flex: 4;
    flex-direction: row;
    margin: 0;
    align-items: center;
  }
  .nav-links li {
    flex: 1;
    margin: 0;
  }
}
@media (min-width: 800px) {
  .header-logo {
    margin: 0 30px 0 0;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 2.8rem;
  }
  .nav-links li {
    padding: 0 20px 0 10px;
  }
}
@media (min-width: 1260px) {
  h1 {
    font-size: 3.5rem;
  }
}
.food-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 33.3333333333vw;
  padding: 3.5rem 0;
  border-bottom: 4px solid transparent;
}
.food-card:hover {
  border-color: #52658f;
}
.food-card i {
  font-size: 4rem;
  color: #52658f;
  background-color: #fff;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.food-card h4 {
  color: #52658f;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.food-information-section h4 {
  text-align: center;
  color: #52658f;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.food-information-section .food-img-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 10%;
}
.food-information-section .food-img-text .circle-container {
  position: relative;
  width: 350px;
  height: 350px;
  margin-right: 200px;
}
.food-information-section .food-img-text .circle-container .circle {
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  border: 5px solid white;
}
.food-information-section .food-img-text .circle-container .circle-1 {
  width: 150px;
  height: 150px;
  background-color: #f7f5e6;
  top: -10px;
  left: 170px;
}
.food-information-section .food-img-text .circle-container .circle-2 {
  width: 220px;
  height: 220px;
  background-color: #52658f;
  top: 100px;
  left: 130px;
}
.food-information-section .food-img-text .circle-container .image-circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
  top: 0px;
  left: 0px;
  border: 5px solid white;
}
.food-information-section .food-img-text .circle-container .image-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.food-information-section .food-img-text .food-description {
  padding-left: 15%;
  color: #52658f;
}

body {
  margin: 0;
  font-family: "Poppins", "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
}

* {
  box-sizing: border-box;
}

/*# sourceMappingURL=main.css.map */
